@model WebApplication2.Models.Warehouse

@{
    ViewBag.Title = "Ištrinti";
}

<h2>Ištrinti sandėlį</h2>

<h3>Ar tikrai norite ištrinti šį įrašą?</h3>
<div>
    <h4>Pasirinktas sandėlis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ištrinti" class="btn btn-default" /> |
            @Html.ActionLink("Grįžti į sąrašą", "Index")
        </div>
    }
</div>
