@model WebApplication2.Models.Warehouse

@{
    ViewBag.Title = "Detales";
}

<h2>Detalesnė informacija</h2>

<div>
    <h4>Pasirinktas sandėlis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.place)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.place)
        </dd>
    </dl>
</div>

<h4>Prekės sandėlyje</h4>
<table class="table">
    <thead>
        <tr>
            <th>Prekės pavadinimas</th>
            <th>Aprašymas</th>
            <th>Kaina</th>
            <th>Svoris</th>
            <th>Kiekis</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.WarehouseProducts != null && Model.WarehouseProducts.Any())
        {
            foreach (var wp in Model.WarehouseProducts)
            {
                <tr>
                    <td>@wp.Product.name</td>
                    <td>@wp.Product.description</td>
                    <td>@wp.Product.price</td>
                    <td>@wp.Product.mass</td>
                    <td>@wp.Count</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">Šiam sandėliui nepriskirta jokių prekių.</td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Pridėti esamą prekę", "AddExistingProduct", new { id = Model.id }, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Redaguoti", "Edit", new { id = Model.id }, new { @class = "btn btn-secondary" }) |
    @Html.ActionLink("Grįžti į sąrašą", "Index", null, new { @class = "btn btn-secondary" })
</p>
