@model WebApplication2.Models.Order

@{
    ViewBag.Title = "Išsami informacija";
}

<h2>Išsami informacija</h2>

<div>
    <h4>Užsakymas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Vieta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            Prekių kiekis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemCount)
        </dd>

        <dt>
            Kaina
        </dt>

        <dd>
            @String.Format("{0:0.00} €", Model.cost)
        </dd>

        <dt>
            Pradžios data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start)
        </dd>

        <dt>
            Pabaigos data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end)
        </dd>

        <dt>
            Pirkėjo ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buyerId)
        </dd>

        <dt>
            Statusas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Redaguoti", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Grįžti į sąrašą", "Index")
</p>
